# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiled output
target/
bin/
out/

# Dependency directories
lib/
dependencies/

# Gradle-specific
.gradle/
build/

# Maven-specific
logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Other
*.class
*.jar
*.war
*.ear
*.log
*.tmp
.idea_modules/
